<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}{% endblock %}
    </title>
    {% load static %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
</head>

<body class="container">
<div class="container-fluid">
    <nav class="navbar navbar-default">
        <div class="row">
            <div class="col-md-2">
                <a class="navbar-brand" href="{% url 'index' %}">AskGulyy</a>
            </div>
            <div class="col-md-7">
                <form class="navbar-form navbar-left" role="search">
                    <input id="searchLine" type="text" class="form-control" placeholder="Search">
                    <button type="submit" class="btn btn-success">Ask!</button>
                </form>
            </div>
            <div class="col-md-3">
                {% if singin %}
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="mini-ava media-object" src="/uploads/ava.jpg" alt="Avatar">
                        </a>
                        <div class="media-body">
                            <p id="username" class="media-heading">Dr. Pepper</p>
                            <ol class="list-inline">
                                <li><a href="{% url 'settings' %}">settings</a></li>
                                <li><a href="{% url 'login' %}">log out</a></li>
                            </ol>
                        </div>
                    </div>
                {% else %}
                    <ol id="nonreg" class="list-inline navbar-text">
                        <li><a href="{% url 'login' %}">log in</a></li>
                        <li><a href="{% url 'singup' %}">register</a></li>
                    </ol>
                {% endif %}
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock content %}
        </div>
        <div class="col-md-3 col-md-offset-1 blog-sidebar">
            <div class="sidebar-module">
                <h4>Popular Tags</h4>
                <ol class="list-inline">
                    {% for tag in tags %}
                        <li><a href="{% url 'questions_by_tag' tag %}">{{ tag }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>Best Members</h4>
                <ol class="list-unstyled">
                    <li><a href="#">Mr. Freeman</a></li>
                    <li><a href="#">Dr. House</a></li>
                    <li><a href="#">Bender</a></li>
                    <li><a href="#">Queen Victoria</a></li>
                    <li><a href="#">V. Pupkin</a></li>
                </ol>
            </div>
        </div>
    </div>
    <footer class="blog-footer">
        <p><a href="{% url 'index' %}">AskGulyy</a> @ by Konstantin Gulyy</p>
    </footer>
</div>
</body>
</html>
