{% extends "base.html" %}

{% block content %}
    <ul class="nav nav-pills">
        <li role="presentation" class="active">
            <a href="#">New Questions</a>
        </li>
        <li role="presentation">
            <a href="#">Hot Questions</a>
        </li>
    </ul>
    <div class="question">
        <div class="row">
            <div class="col-md-2">
                <div class="question-block">
                    <img class="mini-ava img-rounded" src="../uploads/ava.jpg" alt="Avatar">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">5</button>
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <h3>
                    <a href="#">How to build a moon park?</a>
                </h3>
                <p>Guys, I have trouble with a moon park. Can't find th black-jack...
                    Guys, I have trouble with a moon park. Can't find th black-jack...</p>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="list-inline">
                            <li><a href="#">answer <span class="badge">3</span></a></li>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <ol class="list-inline">Tags:
                            <li><a href="#">black-jack</a></li>
                            <li><a href="#">bender</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="row">
            <div class="col-md-2">
                <div class="question-block">
                    <img class="mini-ava img-rounded" src="../uploads/ava.jpg" alt="Avatar">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">5</button>
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <h3>
                    <a href="#">How to build a moon park?</a>
                </h3>
                <p>
                    Guys, I have trouble with a moon park. Can't find th black-jack...
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="list-inline">
                            <li><a href="#">answer <span class="badge">3</span></a></li>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <ol class="list-inline">Tags:
                            <li><a href="#">black-jack</a></li>
                            <li><a href="#">bender</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="question">
        <div class="row">
            <div class="col-md-2">
                <div class="question-block">
                    <img class="mini-ava img-rounded" src="../uploads/ava.jpg" alt="Avatar">
                    <div class="btn-group-vertical">
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-primary btn-xs">5</button>
                        <button type="button" class="btn btn-default btn-xs">
                            <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
                <h3>
                    <a href="#">How to build a moon park?</a>
                </h3>
                <p>
                    Guys, I have trouble with a moon park. Can't find th black-jack...
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <ol class="list-inline">
                            <li><a href="#">answer <span class="badge">3</span></a></li>
                        </ol>
                    </div>
                    <div class="col-md-9">
                        <ol class="list-inline">Tags:
                            <li><a href="#">black-jack</a></li>
                            <li><a href="#">bender</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
{% endblock content %}